doctype html
html(lang='en')

    head
        // Google tag (gtag.js)
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-RETLG4GRT0')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-RETLG4GRT0');

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Cultivating the next generation of scientists, engineers, and innovators by providing an engaging, hands-on exploration of robotics in Lawrence, KS')
        meta(name='author', content='Ad Astra Robotics Club')
        meta(name='og:title', content='Ad Astra Robotics Club')
        meta(name='og:description', content='Cultivating the next generation of scientists, engineers, and innovators by providing an engaging, hands-on exploration of robotics in Lawrence, KS')
        meta(name='og:image', content='assets/img/ad-astra-logo.jpg')

        title Ad Astra Robotics Club

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
        script(src='https://widgets.givebutter.com/latest.umd.cjs?acct=zt91H6L2krWBJG0p&p=other', async)


        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/navbar-logo.svg', alt='Ad Astra Robotics Club Logo')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link.btn(href='#worlds') Donate
                        li.nav-item
                            a.nav-link(href='#goals') Goals
                        li.nav-item
                            a.nav-link(href='#robots') Robots
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#team') Team
                        li.nav-item
                            a.nav-link(href='#contact') Contact
                        li.nav-item
                            givebutter-widget#LqlYDj

        // Masthead
        header.masthead
            .container
                .masthead-subheading Ad Astra 
                .masthead-heading.text-uppercase Robotics Club
                a.btn.btn-primary.btn-xl.text-uppercase(href='#goals') Tell Me More

        // Worlds!
        section#worlds.page-section.bg-light
            #portfolio.container
                .text-center
                    h2.section-heading.text-uppercase Team Thunder Wins Big!
                .row
                    .col-lg-6.col-sm-6.mb-4
                        img.rounded.img-fluid.img-thumbnail(src='assets/img/state-champs.jpg', alt='State Champs')
                    .col-lg-6.col-sm-6.mb-4
                        p
                            | At an incredible Kansas State Championship tournament, Team Thunder scored the second highest skills score in the state. Normally this is not a tournament qualifier. However, another team
                            em double qualified,
                            | giving the team a chance to attend the 2024 VEX Robotics World Championship! 
                        p 
                            | Team Thunder will have 3 days in Dallas to meet and make alliances with over 400 elementary school teams from 50 countries around the world!
                        p 
                            | Support the team by making a gift that helps the team cover the cost of travel to Texas, the $1800 registration fee, and their future in STEM. Thanks for your generosity!
                div.d-flex.justify-content-center
                    a.btn.btn-primary.btn-xl.text-uppercase(href="https://givebutter.com/ad-astra-robotics-club-2024") Donate
        // Goals
        section#goals.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Future Goals
                    h3.section-subheading.text-muted We can't wait to see what our teams become.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-user-plus.fa-stack-1x.fa-inverse
                        h4.my-3 Expand Membership
                        p.text-muted
                            | We aim to grow our club membership, welcoming diverse youth from all backgrounds and skill levels.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-people-group.fa-stack-1x.fa-inverse
                        h4.my-3 Community Engagement
                        p.text-muted
                            | We plan to engage more with our local community through public demonstrations, robotics competitions, and collaboration with local schools and organizations.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-person-chalkboard.fa-stack-1x.fa-inverse
                        h4.my-3  Enhance Learning Experience
                        p.text-muted
                            | We strive to continually improve and expand our curriculum, incorporating cutting-edge technology and real-world applications of robotics.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-map.fa-stack-1x.fa-inverse
                        h4.my-3 Foster Mentorship
                        p.text-muted
                            | We aspire to create a mentorship program where experienced members can guide newer members, fostering a culture of collaboration and shared learning.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-money-bill-trend-up.fa-stack-1x.fa-inverse
                        h4.my-3 Secure Funding
                        p.text-muted
                            |  We aim to secure stable funding through grants, donations, and sponsorships to provide our members with the best resources and opportunities.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-bullhorn.fa-stack-1x.fa-inverse
                        h4.my-3  STEM Advocacy
                        p.text-muted
                            | We seek to use our platform to advocate for increased emphasis on STEM education.

        // Portfolio Grid
        section#robots.page-section.bg-light
            #portfolio.container
                .text-center
                    h2.section-heading.text-uppercase Robots
                    h3.section-subheading.text-muted See what our teams have built.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 1
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#robotGrabby')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/robots/grabby.jpg', alt='Grabby the Robot')
                            .portfolio-caption
                                .portfolio-caption-heading Grabby
                                .portfolio-caption-subheading.text-muted 2023-2024 Volume Up
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 2
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 3


        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted Coming soon...
                //- ul.timeline
                //-     li
                //-         .timeline-image
                //-             img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
                //-         .timeline-panel
                //-             .timeline-heading
                //-                 h4 2009-2011
                //-                 h4.subheading Our Humble Beginnings
                //-             .timeline-body
                //-                 p.text-muted
                //-                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                //-     li.timeline-inverted
                //-         .timeline-image
                //-             img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
                //-         .timeline-panel
                //-             .timeline-heading
                //-                 h4 March 2011
                //-                 h4.subheading An Agency is Born
                //-             .timeline-body
                //-                 p.text-muted
                //-                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                //-     li
                //-         .timeline-image
                //-             img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
                //-         .timeline-panel
                //-             .timeline-heading
                //-                 h4 December 2015
                //-                 h4.subheading Transition to Full Service
                //-             .timeline-body
                //-                 p.text-muted
                //-                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                //-     li.timeline-inverted
                //-         .timeline-image
                //-             img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='...')
                //-         .timeline-panel
                //-             .timeline-heading
                //-                 h4 July 2020
                //-                 h4.subheading Phase Two Expansion
                //-             .timeline-body
                //-                 p.text-muted
                //-                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                //-     li.timeline-inverted
                //-         .timeline-image
                //-             h4
                //-                 | Be Part
                //-                 br
                //-                 | Of Our
                //-                 br
                //-                 | Story!

        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Amazing Team
                    h3.section-subheading.text-muted The next generation of scientists, engineers, and innovators.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/camden.jpg', alt='...')
                            h4 Camden
                            p.text-muted Team Captain

                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/cody.jpg', alt='...')
                            h4 Cody
                            p.text-muted Innovation Specialist
 
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/des.jpg', alt='...')
                            h4 Des
                            p.text-muted Data Scientist
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/toby.jpg', alt='...')
                            h4 Toby
                            p.text-muted Chief Engineer

                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/zeke.jpg', alt='...')
                            h4 Zeke
                            p.text-muted Strategy and Tactics
 
                    .col-lg-4


                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | Interested in joining? Get in touch!

        // Sponsors
        section#sponsors.py-5
            .container
                .text-center
                    h2.section-heading.text-uppercase Sponsors
                    p.text-muted Thanks to the organizations that have helped our club succeed.
            .container
                .row.align-items-center
                    .col-md-3.col-sm-6.my-3
                        a(href='https://engr.ku.edu/')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/ku-engineering.png', alt='...', aria-label='KU School of Engineering')
                    .col-md-3.col-sm-6.my-3
                        a(href='https://www.northlawrencekansas.com/')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/nlia.png', alt='...', aria-label='North Lawrence Improvement Association')
                    
                    .col-md-3.col-sm-6.my-3
                    .col-md-3.col-sm-6.my-3

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Us
                    h3.section-subheading.text-muted We would love to hear from you about your robotics dreams.

                iframe(src="https://docs.google.com/forms/d/e/1FAIpQLScV1Dz8h2ITfFUQpfCqkVe9zwfLlbAlgBTJBUwROrTJaDbCpw/viewform?embedded=true" style="width:100%" height="880" frameborder="0" marginheight="0" marginwidth="0") Loading...


        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Ad Astra Robotics Club 2023
                    .col-lg-4.my-3.my-lg-0
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                        //-     i.fab.fa-twitter
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                        //-     i.fab.fa-facebook-f
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                        //-     i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        //- a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        //- a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/robot-grabby

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

